<div class="dialog-wrapper row">
    <div class="col-lg-7 h-100 d-flex justify-content-center align-items-center">
        <div class="row h-75">
            <div class="col d-flex icon-container align-items-center justify-content-center">
                <button [ngClass]="iconSelection=='forest' ? 'selected':''" (click)="onIconSelect('forest')">
                    <mat-icon>forest</mat-icon>
                </button>
            </div>
            <div class="col d-flex icon-container align-items-center justify-content-center">
                <button [ngClass]="iconSelection=='house' ? 'selected':''" (click)="onIconSelect('house')">
                    <mat-icon>house</mat-icon>
                </button>
            </div>
            <div class="col d-flex icon-container align-items-center justify-content-center">
                <button [ngClass]="iconSelection=='grass' ? 'selected':''" (click)="onIconSelect('grass')">
                    <mat-icon>grass</mat-icon>
                </button>
            </div>
            <div class="w-100"></div>
            <div class="col d-flex icon-container align-items-center justify-content-center">
                <button [ngClass]="iconSelection=='sentiment_satisfied' ? 'selected':''" (click)="onIconSelect('sentiment_satisfied')">
                    <mat-icon>sentiment_satisfied</mat-icon>
                </button>
            </div>
            <div class="col d-flex icon-container align-items-center justify-content-center">
                <button [ngClass]="iconSelection=='local_florist' ? 'selected':''" (click)="onIconSelect('local_florist')">
                    <mat-icon>local_florist</mat-icon>
                </button>
            </div>
            <div class="col d-flex icon-container align-items-center justify-content-center">
                <button [ngClass]="iconSelection=='emoji_nature' ? 'selected':''" (click)="onIconSelect('emoji_nature')">
                    <mat-icon>emoji_nature</mat-icon>
                </button>
            </div>
            <div class="w-100"></div>
            <div class="col d-flex icon-container align-items-center justify-content-center">
                <button [ngClass]="iconSelection=='apartment' ? 'selected':''" (click)="onIconSelect('apartment')">
                    <mat-icon>apartment</mat-icon>
                </button>
            </div>
            <div class="col d-flex icon-container align-items-center justify-content-center">
                <button [ngClass]="iconSelection=='eco' ? 'selected':''" (click)="onIconSelect('eco')">
                    <mat-icon>eco</mat-icon>
                </button>
            </div>
            <div class="col d-flex icon-container align-items-center justify-content-center">
                <button [ngClass]="iconSelection=='nature_people' ? 'selected':''" (click)="onIconSelect('nature_people')">
                    <mat-icon>nature_people</mat-icon>
                </button>
            </div>
        </div>
    </div>
    <div class="col-lg-5 justify-content-center align-items-center h-100 d-flex flex-column">
        <form [formGroup]="settingsForm" class="row">
            <mat-form-field appearance="outline" class="col-6">
                <mat-label>Min temp</mat-label>
                <input matInput formControlName="min_temp" type="number">
                <mat-icon matSuffix>device_thermostat</mat-icon>
            </mat-form-field>
            <mat-form-field appearance="outline" class="col-6">
                <mat-label>Max temp</mat-label>
                <input matInput formControlName="max_temp" type="number">
                <mat-icon matSuffix>device_thermostat</mat-icon>
            </mat-form-field>
            <mat-form-field appearance="outline" class="col-6">
                <mat-label>Min lum</mat-label>
                <input matInput formControlName="min_lum" type="number">
                <mat-icon matSuffix>brightness_6</mat-icon>
            </mat-form-field>
            <mat-form-field appearance="outline" class="col-6">
                <mat-label>Max lum</mat-label>
                <input matInput formControlName="max_lum" type="number">
                <mat-icon matSuffix>brightness_6</mat-icon>
            </mat-form-field>
            <mat-form-field appearance="outline" class="col-6">
                <mat-label>Min humt</mat-label>
                <input matInput formControlName="min_humt" type="number">
                <mat-icon matSuffix>water_drop</mat-icon>
            </mat-form-field>
            <mat-form-field appearance="outline" class="col-6">
                <mat-label>Max humt</mat-label>
                <input matInput formControlName="max_humt" type="number">
                <mat-icon matSuffix>water_drop</mat-icon>
            </mat-form-field>
            <mat-form-field appearance="outline" class="col-6">
                <mat-label>Min huma</mat-label>
                <input matInput formControlName="min_hum" type="number">
                <mat-icon matSuffix>airwave</mat-icon>
            </mat-form-field>
            <mat-form-field appearance="outline" class="col-6">
                <mat-label>Max huma</mat-label>
                <input matInput formControlName="max_hum" type="number">
                <mat-icon matSuffix>airwave</mat-icon>
            </mat-form-field>
            <mat-form-field appearance="outline" class="col-12">
                <mat-label>Pot name</mat-label>
                <input matInput formControlName="name">
                <mat-icon matSuffix>eco</mat-icon>
            </mat-form-field>
        </form>
        <div class="row">
            <button mat-stroked-button (click)="onSaveClick()">
                Save <mat-icon>save</mat-icon>
            </button>
        </div>
    </div>
</div>