<div class="preloader" *ngIf="isSpinnerVisible">
    <div class="spinner">
      <div class="text-center py-4">
        <div align="center">

            <div class="intersecting-circles-spinner">
                <div class="spinnerBlock">
                  <span class="circle"></span>
                  <span class="circle"></span>
                  <span class="circle"></span>
                  <span class="circle"></span>
                  <span class="circle"></span>
                  <span class="circle"></span>
                  <span class="circle"></span>
                </div>
              </div>

        </div>
    </div>
    </div>
</div>