
.card-login{
    background-color: rgba(13, 44, 22, 0.6) !important;
    color: white;
    border-radius: 30px !important;
    border-color: rgb(12, 59, 20);
    border-width: 2px;
}

.btn-login{
    background-color: rgb(50, 138, 50);
    border-color: rgb(12, 59, 20);
    border-width: 0;
}

.btn-login:hover{
    background-color: rgb(23, 68, 23);
}

.btn-login:active{
    background-color: rgb(23, 68, 23);
}

.input-login{
    background-color: rgba(0, 0, 0, 0.6);
    border-color: rgb(12, 59, 20);
    color: rgb(174, 174, 174);
}

.input-login::placeholder{
    color: white;
}

.input-login:focus{
    background-color: rgba(0, 0, 0, 0.6);
    border-color: rgb(12, 59, 20);
    color: white;
}

.login-navigate{
    font-size: 120%;
}

.login-navigate a{
    color: rgb(207, 207, 207);
    font-weight: bolder;
    text-decoration: none;
    transition: all .5s;
}

.login-navigate a:hover{
    text-decoration: underline;
    color: white;
    transition: all .5s;
}

.required {
    color: red;
    font-size: 120%;
}

.recover{ 
    font-style: italic;
}

.invalid-feedback{
    color: white;
    font-size: 95%;
    font-weight: bold;
}

.label{
    font-size: 125%;
}