
.card-login{
    background-color: rgba(13, 44, 22, 0.6) !important;
    color: white;
    border-radius: 30px !important;
    border-color: rgb(12, 59, 20);
    border-width: 2px;
}

.btn-login{
    background-color: rgb(50, 138, 50);
    border-color: rgb(12, 59, 20);
    border-width: 0;
}

.btn-login:hover{
    background-color: rgb(23, 68, 23);
}

.btn-login:active{
    background-color: rgb(23, 68, 23);
}

.input-login{
    background-color: rgba(0, 0, 0, 0.6);
    border-color: rgb(12, 59, 20);
}

.input-login::placeholder{
    color: white;
}

.input-login:focus{
    background-color: rgba(0, 0, 0, 0.6);
    border-color: rgb(12, 59, 20);
    color: white;
}

.login-navigate{
    font-size: 120%;
}

.login-navigate a{
    color: white;
    font-weight: bolder;
}