.login-navigate{
    font-size: 120%;
}

.login-navigate a{
    color: rgb(207, 207, 207);
    font-weight: bolder;
    text-decoration: none;
    transition: all .5s;
}

.login-navigate a:hover{
    text-decoration: underline;
    color: white;
    cursor: pointer;
    transition: all .5s;
}

.required {
    color: red;
    font-size: 120%;
}

.recover{ 
    font-style: italic;
}

.m-content{
    color: rgb(48, 48, 48);
    font-weight: 400;
}

.m-title{
    color: rgb(63, 63, 63);
}

.btn-disabled{
    background-color: rgb(145, 145, 145);
    border-color: rgb(161, 161, 161);
}

.btn-disabled:hover{
    cursor: default;
}

.btn-disabled:focus{
    background-color: rgb(126, 125, 125);
    border-color: rgb(158, 158, 158);
}

.reasons{
    margin-bottom: 0px;
}

.big-letter{
    font-size: 20px;
}

.close{
    margin: 0px;
}

.invisible{
    display: none;
}