<div class="container-fluid">
    <span class="login-navigate recover">
        <a (click)="open(confirmModal)">
            ¿Olvidaste tu contraseña?
        </a>
    </span>
</div>

<ng-template #confirmModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title m-title" id="modal-basic-title"> Recuperar contraseña </h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Close')"></button>
    </div>
    <div class="modal-body m-content">
        <div>
            Escriba el correo con el que se registró para recuperar su contraseña
        </div>        
    </div>
    <div class="modal-footer">
        <button  type="button" class="btn btn-success px-3" (click)="modal.close('YES')">Recuperar</button>
        <!-- <button  type="button" class="btn btn-danger px-3" (click)="modal.close('NO')" >No</button> -->
        <button  type="button" class="btn btn-primary px-3" (click)="modal.close('')">Cancelar</button>
        <button style="display: none;" ngbAutofocus>NoAutofocus</button>
    </div>
</ng-template>