<div class="main-wrapper row">
    <div class="col-md p-3">
        <div class="card">
            <div class="row h-75">
                <div class="row h-50">
                    <div class="col-sm spinner-container temperatura">
                        <label>temperatura</label>
                        <mat-progress-spinner mode='determinate' value="{{temperatura}}" diameter="{{spinnerDiameter}}">
                        </mat-progress-spinner>
                    </div>
                    <div class="col-sm spinner-container luminosidad">
                        <label>luminosidad</label>
                        <mat-progress-spinner mode='determinate' value="{{luminosidad}}" diameter="{{spinnerDiameter}}">
                        </mat-progress-spinner>
                    </div>
                </div>
                <div class="row h-50">
                    <div class="col-sm spinner-container tierra">
                        <label>humedad en tierra</label>
                        <mat-progress-spinner mode='determinate' value="{{humedad_tierra}}"
                            diameter="{{spinnerDiameter}}">
                        </mat-progress-spinner>
                    </div>
                    <div class="col-sm spinner-container humedad">
                        <label>humedad en aire</label>
                        <mat-progress-spinner mode='determinate' value="{{humedad_ambiente}}"
                            diameter="{{spinnerDiameter}}">
                        </mat-progress-spinner>
                    </div>
                </div>
            </div>
            <div class="row p-4 h-25">
                <div class="plant-state">
                    todo bien :)
                </div>
            </div>
        </div>
    </div>
    <div class="col-md">
        <div class="row h-25 bg-info">

        </div>
        <div class="row h-50 bg-dark">

        </div>
        <div class="row h-25 bg-secondary">

        </div>
    </div>
    <div class="col-md p-3">
        <div class="card">

        </div>
    </div>
</div>