<div class="main-wrapper row">
    <div class="col-md p-3">
        <div class="card">
            <div class="row h-75">
                <div class="row h-50">
                    <div class="col-sm spinner-container temperatura">
                        <mat-icon>thermostat</mat-icon>
                        <mat-progress-spinner mode='determinate' value="{{temperatura}}" diameter="{{spinnerDiameter}}">
                        </mat-progress-spinner>
                    </div>
                    <div class="col-sm spinner-container luminosidad">
                        <mat-icon>brightness_low</mat-icon>
                        <mat-progress-spinner mode='determinate' value="{{luminosidad}}" diameter="{{spinnerDiameter}}">
                        </mat-progress-spinner>
                    </div>
                </div>
                <div class="row h-50">
                    <div class="col-sm spinner-container tierra">                        
                        <mat-icon>water_drop</mat-icon>
                        <mat-progress-spinner mode='determinate' value="{{humedad_tierra}}"
                            diameter="{{spinnerDiameter}}">
                        </mat-progress-spinner>
                    </div>
                    <div class="col-sm spinner-container humedad">
                        <mat-icon>airwave</mat-icon>
                        <mat-progress-spinner mode='determinate' value="{{humedad_ambiente}}"
                            diameter="{{spinnerDiameter}}">
                        </mat-progress-spinner>
                    </div>
                </div>
            </div>
            <div class="row p-3 h-25">
                <div class="plant-state pt-1 pb-1 pr-2 ps-4">
                    <h3 class="row h-25">{{tituloAnalisis}}</h3>
                    <textarea class="row h-75" readonly>{{cuerpoAnalisis}}</textarea>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md">
        <div class="row h-25 justify-content-center align-items-center d-none d-xl-flex">
            <mat-icon class="header-icon">{{plantData.icon}}</mat-icon>
        </div>
        <div class="row h-auto p-3 d-flex justify-content-center">
            <div class="card square d-flex justify-content-center align-items-center">
                <div *ngIf="showCamera">
                    <h5 class="text-center status-span">
                        {{ status }}
                    </h5>
                    <div class="row my-1">
                        <div class="col-md-4">
                            <button class="btn" title="Ver stream"
                            [class]="mode == 'stream' ? 'btn-primary' : 'btn-secondary'" (click)="setMode('stream')">
                                <i class="fas fa-camera mini-icon"></i>
                            </button>
                        </div>

                        <div class="col-md-4">
                            <button class="btn" title="Detectar caras"
                                [class]="mode == 'recognize' ? 'btn-primary' : 'btn-secondary'" (click)="setMode('recognize')">
                                <i class="fas fa-eye mini-icon"></i>
                            </button>
                        </div>

                        <div class="col-md-4">
                            <button class="btn" title="Registrar"
                                [class]="mode == 'add' ? 'btn-primary' : 'btn-secondary'" (click)="setMode('add')">
                                <i class="fas fa-user-plus mini-icon"></i>
                            </button>
                        </div>
                    </div>
                    
                    <div *ngIf="mode == 'add'">
                        <input type="text" class="form-control mb-1" placeholder="Nombre persona" [(ngModel)]="faceName">
                        <div class="text-center mb-1">
                            <button class="btn btn-success" [disabled]="!faceName || faceName.length == 0"
                             (click)="addFace()">
                                Agregar
                            </button>
                        </div>
                    </div>
                </div>
                <img [src]="showCamera ? (cameraSrc || 'assets/no_video.png') : '/assets/faces/' + estado +'.png'"  class="face w-100">

                <div *ngIf="showCamera">
                    <ul class="mt-1">
                        <li *ngFor="let face of faceList;let i = index">
                            {{ face }}
                            <i class="fas fa-trash mini-icon text-danger" (click)="deleteFace(face, i)"></i>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
        <div class="row h-25">
            <div class="col d-flex justify-content-center align-items-center">
                <button class="round-btn" (click)="onSettingClick()">
                    <mat-icon>settings</mat-icon>
                </button>
            </div>
            <div class="col d-flex justify-content-center align-items-center">
                <button class="round-btn" (click)="onHistoricsClick()">
                    <mat-icon>receipt_long</mat-icon>
                </button>
            </div>
            <div class="col d-flex justify-content-center align-items-center">
                <button class="round-btn" (click)="cameraClick()">
                    <mat-icon>videocam</mat-icon>
                </button>
            </div>
        </div>
        <div class="row name h-25 d-none d-xl-flex">
            {{plantData.name}}
        </div>
    </div>
    <div class="col-xl p-3">
        <div class="card row h-100">
            <canvas style="height:100%" id="canvasChart" #canvasChart></canvas>
        </div>
    </div>
</div>