<div class="container-fluid">
    <button class="btn btn-md" [class]="myClass"
        (click)="open(confirmModal)" [ngClass]="isDisabled ? 'btn-disabled btn-secondary' : 'btn-'+ myStyle">
        {{ trigger }}
    </button>
</div>

<ng-template #confirmModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title m-title" id="modal-basic-title"> {{ title }} </h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Close')"></button>
    </div>
    <div class="modal-body m-content">
        <div *ngIf="!isDisabled; else reason_content">
            {{ content }}
        </div>
        <ng-template #reason_content>
            <div *ngIf="areReasons();else one_reason">
                No se puede realizar la acción correspondiente por las siguientes razones: <br>
                <p *ngFor="let r in reason" class="reasons">
                    * {{ r }}
                </p>
            </div>
            <ng-template #one_reason>
                No puede realizar esta acción:
                <span class="reasons">
                    {{ reason }}
                </span>
            </ng-template>
        </ng-template>
    </div>
    <div class="modal-footer">
        <button *ngIf="!isDisabled" type="button" class="btn btn-success px-3" (click)="modal.close('YES')">Sí</button>
        <button *ngIf="!isDisabled" type="button" class="btn btn-danger px-3" (click)="modal.close('NO')" >No</button>
        <button *ngIf="isDisabled" type="button" class="btn btn-primary px-3" (click)="modal.close('')">Ok</button>
        <button style="display: none;" ngbAutofocus>NoAutofocus</button>
    </div>
</ng-template>