<div class="main-wrapper container-fluid h-100" (click)="swapChart()">
    <div class="row h-100">
        <div class="col-md p-3 h-50">
            <div class="card">
                <canvas id="temperaturaChar" #temperaturaChart></canvas>
            </div>
        </div>
        <div class="col-md p-3 h-50">
            <div class="card">
                <canvas id="luminosidadChart" #luminosidadChart></canvas>
            </div>
        </div>
        <div class="w-100"></div>
        <div class="col-md p-3 h-50">
            <div class="card">
                <canvas id="aireChart" #aireChart></canvas>
            </div>
        </div>
        <div class="col-md p-3 h-50">
            <div class="card">
                <canvas id="tierraChart" #tierraChart></canvas>
            </div>
        </div>
    </div>
</div>