.card {
    background-color: rgb(228, 228, 228);
    box-shadow: 2px 2px 4px var(--dark-shadow), -2px -2px 4px var(--light-shadow);
    border-radius: 10px;
    height: 100%;
    width: 100%;
    border: 0;
}

.main-wrapper{
    height: 100%;
    width: 100%;
}