html, body{
    font-family: 'Oxygen', sans-serif !important;
    max-width: 100%;
    height: 100% !important;
}

.click:hover{
    cursor: pointer;
}

$green-color: rgb(0, 77, 0);

:root{
    --green-color: rgb(0, 77, 0);
}
/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';