html, body{
    font-family: 'Oxygen', sans-serif !important;
    max-width: 100%;
    height: 100% !important;
}

.click:hover{
    cursor: pointer;
}

$green-color: rgb(0, 77, 0);

:root{
    --green-color: rgb(0, 77, 0);
    --light-shadow: #f5ffff;
    --dark-shadow: #b5c1c8;
}
/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.tooltip-container {
    text-align: center;
    z-index: 100;
    position: fixed;
    padding: 6px 12px;
    font-size: 12px;
    font-weight: 600;
    line-height: initial;
    color: white;
    width: auto;
    background: #111111ee;
    box-sizing: border-box;
    opacity: 0;
    transform: translate(-50%, -30%);
    animation: tooltip-slide 0.18s ease-out 0.5s;
    animation-fill-mode: forwards;
    pointer-events: none;
}

@keyframes tooltip-slide {
    0% {
        opacity: 0;
        transform: translate(-50%, -30%);
    }

    100% {
        opacity: 1;
        transform: translate(-50%, 0);
    }
}