<div class="card-wrapper">
    <div class="card">
        <div class="card-body">
            <div class="row card-thumbnail">
                <mat-icon>{{plantData.icon}}</mat-icon>
            </div>
            <div class="row name">
                {{plantData.name}}
            </div>
            <div class="row chart-container">
                <div class="chart-margin">
                    <div class="row">
                        <div class="col-sm spinner-container temperatura">
                            <label>Temperatura</label>
                            <mat-progress-spinner mode='determinate' value="{{temperatura}}" diameter="{{spinnerDiameter}}">
                            </mat-progress-spinner>
                        </div>
                        <div class="col-sm spinner-container luminosidad">
                            <label>Lumonsidad</label>
                            <mat-progress-spinner mode='determinate' value="{{luminosidad}}" diameter="{{spinnerDiameter}}">
                            </mat-progress-spinner>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm spinner-container tierra">
                            <label>Humedad en tierra</label>
                            <mat-progress-spinner mode='determinate' value="{{humedad_tierra}}" diameter="{{spinnerDiameter}}">
                            </mat-progress-spinner>
                        </div>
                        <div class="col-sm spinner-container humedad">
                            <label>Humedad en aire</label>
                            <mat-progress-spinner mode='determinate' value="{{humedad_ambiente}}" diameter="{{spinnerDiameter}}">
                            </mat-progress-spinner>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row buttons-container">
                <button mat-stroked-button (click)="onSelectClick()">Select</button>
            </div>
        </div>
    </div>
</div>