<div class="card-wrapper">
    <div class="card">
        <div class="card-body">
            <div class="row card-thumbnail">
                <mat-icon>compost</mat-icon>
            </div>
            <div class="row chart-container">
                <div class="chart-margin">
                    <div class="row">
                        <div class="col-sm spinner-container">
                            <label>temperatura</label>
                            <mat-progress-spinner class="example-margin" mode='determinate' value="{{temperatura}}" diameter="{{spinnerDiameter}}">
                            </mat-progress-spinner>
                        </div>
                        <div class="col-sm spinner-container">
                            <label>luminosidad</label>
                            <mat-progress-spinner class="example-margin" mode='determinate' value="{{luminosidad}}" diameter="{{spinnerDiameter}}">
                            </mat-progress-spinner>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm spinner-container">
                            <label>humedad en tierra</label>
                            <mat-progress-spinner class="example-margin" mode='determinate' value="{{humedad_tierra}}" diameter="{{spinnerDiameter}}">
                            </mat-progress-spinner>
                        </div>
                        <div class="col-sm spinner-container">
                            <label>humedad en aire</label>
                            <mat-progress-spinner class="example-margin" mode='determinate' value="{{humedad_ambiente}}" diameter="{{spinnerDiameter}}">
                            </mat-progress-spinner>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row buttons-container">
                <button mat-stroked-button>Select</button>
            </div>
        </div>
    </div>
</div>