.card-wrapper{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    width: 100%;
    height: 95%;
    background-color: rgb(228, 228, 228);
    box-shadow: 2px 2px 4px var(--dark-shadow), -2px -2px 4px var(--light-shadow);
    border-radius: 10px;
    border: 0;
}

.card-body{
    padding: 10px;
    height: 100%;
}

.card-thumbnail{
    height: 15%;
    text-align: center;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.chart-container{
    height: 70%;
    align-items: center;
    justify-content: center;
}

.chart-margin{
    width: 90%;
    height: 95%;
    border-style: solid;
    border-width: 1px;
    border-radius: 30px;
    border-color: rgb(186, 186, 186);
}

.chart-margin > div{
    height: 50%;
}

.spinner-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.temperatura ::ng-deep .mat-progress-spinner circle, .mat-spinner circle{
    stroke: #d24747;
}

.luminosidad ::ng-deep .mat-progress-spinner circle, .mat-spinner circle{
    stroke: #decd4a;
}

.tierra ::ng-deep .mat-progress-spinner circle, .mat-spinner circle{
    stroke: #885220;
}

.humedad ::ng-deep .mat-progress-spinner circle, .mat-spinner circle{
    stroke: #389fb9;
}

.buttons-container{
    height: 10%;
    align-items: center;
    justify-content: center;
}

.buttons-container > * {
    width: 30%;
}

mat-icon{
    font-size: 100px;
    width: fit-content;
    height: fit-content;
}

.name{
    font-weight: bold;
    height: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: x-large;
}

.spinner-container > label{
    font-weight: 500;
    margin-bottom: 10px;
}