<div class="full-width-div">
    <div class="w-100 container-fluid">
        <div class="row bg-dark py-3 header">
            <div class="col-md-4 text-light">
                <span class="align-middle">
                    <i class="fas fa-bars toggle-icon align-middle mx-3" (click)="toggleSidebar()" title="Mostrar / ocultar menú"></i>
                </span>
            </div>
            <div class="col-md-4 text-center text-light">
                <a href="dashboard.html" class="no-decoration align-middle" title="Ir a inicio">
                    <span class="align-middle contact-email">
                        <i class="fas fa-seedling mx-3"></i>
                        Spatiphy
                    </span>
                </a>
            </div>
            <div class="col-md-4 text-center">
                <span class="logout text-light align-middle" (click)="logout()">
                    Cerrar sesión
                    <i class="fas fa-leaf ml-2"></i>
                </span>
            </div>
        </div>
        <div class="sidebar">
            <div class="container-fluid">
                <div id="wrapper" [ngClass]="{'toggled': shown}">
                    <div id="sidebar-wrapper">
                        <ul class="sidebar-nav">
                            <li class="sidebar-brand mx-0">
                                <a href="dashboard.html">
                                    Control de plantas
                                </a>
                            </li>
                            <li class="active">
                                <a href="dashboard.html">Mis plantas</a>
                            </li>
                            <li>
                                <a href="new-plant.html"> Registrar plantas</a>
                            </li>
                        </ul>
                    </div>
                    <div>
                        <div class="container-fluid">
                            <router-outlet></router-outlet>
                        </div>
                    </div>
                    <div style="height: 20px"></div>
                    <footer class="footer page-footer bg-dark">
                        <div class="container text-center">
                            <span class="text-light">
                                {{ getFooter () }}
                            </span>
                        </div>
                    </footer>
                </div>
            </div>
        </div>
    </div>
</div>